body{
    margin: 0 10%;
    font-family: Montserrat, sans-seif;
    background-color: lightcyan;
}

h1{
    text-align: center;
    color: lightslategray;
}

img{ 
    width: 600px;
    margin: auto;
}

p{
    font-size: 14px;
}